@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(#00203fff 1px, transparent 1px), linear-gradient(to right, #00203fff 1px, #ffffff 1px);
  background-size: 20px 20px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .card {
  padding: 20px;
  background-color: #e9e9e9;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

@media (max-width: 480px) {
  .container .card {
    width: 90%;
  }
}

.container .card h1 {
  margin-bottom: 40px;
  font-family: "Merriweather", serif;
}

.container .card #joke {
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
}

.container .card #joke::before {
  font-weight: bold;
  content: "Setup: ";
}

.container .card #answer {
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
}

.container .card #answer::before {
  content: "Punch line: ";
  font-weight: bold;
}

.container .card #generator {
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  background-color: #00203fff;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
          box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
}

.container .card #generator:focus {
  outline: none;
}

.container .card #generator:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  .container {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .card {
    margin-top: 10rem;
  }
}

.footer-content {
  height: auto;
  background-color: #00203fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
  font-size: 1.3rem;
}

.footer-content p {
  color: white;
}

.footer-content a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */